.background {background-color:gray;}
.nav_color {background-color: wh;}
.nav_bar_title {
    font-size: 40px;
    background-color: rgb(21, 179, 252);
    /* margin-top: 20%; */
    /* margin-left: 90%; */
  }
  